.container {

    color: rgb(0, 0, 0);
    min-height: 100vh;
    padding: 40px;
  }
  
   .title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-decoration: none; 
    text-align: center;
  }
 
  .productList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }



  